<div class="container">
  <div class="row justify-content-center align-items-center inner-row">
    <div class="col-md-15">

      <div class="row mt-3" style="background-color: black; color: white; margin-left: 1px; margin-right: 1px;">
        <div class="col-3">
          <h1 class="mt-4">All trainers</h1>
        </div>
      </div>


      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Salary Amount</th>
            <th>Number of Members</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of trainers">
            <td>{{ user.id }}</td>
            <td>{{ user.firstName}} {{ user.lastName}}</td>
            <td>{{ user.salaryAmount }}</td>
            <td>{{ user.occurrenceCount }}</td>
            <td>
              <button class="btn btn-primary" *ngIf="!user.showPriceInput" (click)="toggleInput(user)">
                Change Salary
              </button>
              <!-- Input -->
              <div *ngIf="user.showInput" class="input-container">
                <div class="input-group">
                  <input style="width: 10%;" type="number" class="form-control"
                   [(ngModel)]="user.occurrenceCount"
                   placeholder="Membership Price"
                   [disabled]="true">
                  <input type="number" class="form-control"
                  [(ngModel)]="user.anotherInput"
                   placeholder="Price">
                </div>
                <div class="button-group">
                  <button class="btn btn-danger m-1" (click)="cancelInput(user)">Cancel</button>
                  <button class="btn btn-success m-1" (click)="submitMembershipPrice(user)">Submit</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
